#AToneA {
    left: 45%;
    bottom: 0%;
    height: 75.1%;
    width: 5.96%;
}
 
#AToneB {
    left: 51%;
    bottom: 3%;
    height: 72.1%;
    width: 5.7%;
}
 
#AToneC {
    left: 56.7%;
    bottom: 6.5%;
    height: 68.6%;
    width: 5.68%;
}
 
#AToneD {
    left: 62.4%;
    bottom: 8.6%;
    height: 66.5%;
    width: 5.5%;
}
 
#AToneE {
    left: 67.9%;
    bottom: 12.3%;
    height: 62.8%;
    width: 5.9%;
}
 
#AToneF {
    left: 73.7%;
    bottom: 15.7%;
    height: 59.4%;
    width: 5.6%;
}
 
#AToneG {
    left: 79.3%;
    bottom: 21%;
    height: 54%;
    width: 5.9%;
}
 