#BToneA {
    height: 5.9%;
    width: 4.3%;
    top: 42.8%;
    left: 21.6%;
}
 
#BToneB {
    height: 5.9%;
    width: 4.3%;
    top: 42.5%;
    left: 26.8%;
}
 
#BToneC {
    height: 5.9%;
    width: 4.3%;
    top: 44.2%;
    left: 32.3%;
}
 
#BToneD {
    height: 5.9%;
    width: 4.3%;
    top: 47.5%;
    left: 37.6%;
}
 
#BToneE {
    height: 5.9%;
    width: 4.3%;
    top: 50.6%;
    left: 19.6%;
}
 
#BToneF {
    height: 5.9%;
    width: 4.3%;
    top: 49%;
    left: 24.7%;
}
 
#BToneG {
    height: 5.9%;
    width: 4.3%;
    top: 51%;
    left: 30.2%;
}
 
#BToneH {
    height: 5.9%;
    width: 4.3%;
    top: 53.6%;
    left: 35.3%;
}
 
#BToneI {
    height: 5.9%;
    width: 4.3%;
    top: 57.4%;
    left: 39.6%;
}
 
#BToneJ {
    height: 5.9%;
    width: 4.3%;
    top: 57.5%;
    left: 21.6%;
}
 
#BToneK {
    height: 5.9%;
    width: 4.3%;
    top: 57.6%;
    left: 26.9%;
}
 
#BToneL {
    height: 5.9%;
    width: 4.3%;
    top: 59.9%;
    left: 32.3%;
}
 
#BToneM {
    height: 5.9%;
    width: 4.3%;
    top: 63.6%;
    left: 36.6%;
}
 
#BTone1 {
    height: 5.9%;
    width: 4.3%;
    top: 49.4%;
    right: 5.4%;
}

#BTone2 {
    height: 5.9%;
    width: 4.3%;
    top: 48%;
    right: 0.1%;
}
 
#BTone3 {
    height: 5.9%;
    width: 4.3%;
    top: 57.5%;
    right: 7.6%;
}
 
#BTone4 {
    height: 5.9%;
    width: 4.3%;
    top: 56%;
    right: 2%;
}
 
#BTone5 {
    height: 5.9%;
    width: 4.3%;
    top: 65.5%;
    right: 4.4%;
}
 