#CToneA {
    left: 8.4%;
    top: 5%;
    height: 78%;
    width: 5.7%;
}
 
#CToneB {
    left: 15.7%;
    top: 5%;
    height: 73%;
    width: 5.7%;
}
 
#CToneC {
    left: 23.2%;
    top: 5%;
    height: 65%;
    width: 5.7%;
}
 
#CToneD {
    left: 30.1%;
    top: 5%;
    height: 62%;
    width: 5.7%;
}
 
#CToneE {
    left: 37.1%;
    top: 5%;
    height: 57%;
    width: 5.7%;
}
 
#CToneF {
    left: 44.2%;
    top: 5%;
    height: 53%;
    width: 5.7%;
}
 
#CToneG {
    left: 51.4%;
    top: 5%;
    height: 47%;
    width: 5.7%;
}
 
#CToneH {
    left: 58.6%;
    top: 5%;
    height: 45%;
    width: 5.7%;
}
 
#CToneI {
    left: 65.6%;
    top: 5%;
    height: 42%;
    width: 5.7%;
}
 
#CToneJ {
    left: 72.8%;
    top: 5%;
    height: 42%;
    width: 5.7%;
}
 
#CToneK {
    left: 80.1%;
    top: 5%;
    height: 39%;
    width: 5.7%;
}
 
#CToneL {
    left: 87.2%;
    top: 5%;
    height: 36%;
    width: 5.7%;
}
 
