#DToneA {
    width: 59.1%;
    height: 40%;
    left: 4.4%;
    top: 18%;
    border-radius: 100% 100% 0 0;
}

#DToneB {
    width: 35%;
    height: 48%;
    border-radius: 50%;
    left: 16%;
    bottom: 19%; 
}

#DToneC {
    width: 59.1%;
    height: 37%;
    left: 4.4%;
    bottom: 5%;
    border-radius: 0 0 100% 100%;
}