#FToneA {
    bottom: 19%;
    left: 12%;
    width: 3%;
    height: 2.5%;
}
 
#FToneB {
    bottom: 17.5%;
    left: 21.5%;
    width: 4%;
    height: 6%;
}
 
#FToneC {
    bottom: 21.5%;
    left: 30%;
    width: 4%;
    height: 6%;
}
 
#FToneD {
    bottom: 26.5%;
    left: 39%;
    width: 3%;
    height: 4%;
}
 
#FToneE {
    bottom: 29.5%;
    left: 47%;
    width: 4.5%;
    height: 6%;
}
 
#FToneF {
    bottom: 33.5%;
    right: 40%;
    width: 4.5%;
    height: 6%;
}
 
#FToneG {
    bottom: 38.5%;
    right: 32%;
    width: 3%;
    height: 4%;
}
 
#FToneH {
    bottom: 50%;
    right: 4.5%;
    width: 4.5%;
    height: 6.5%;
}
 