#GToneD1 {
    bottom: 38%;
    right: 0%;
    height: 2.5%;
    width: 17%;
}

#GToneD2 {
    bottom: 35.5%;
    right: 0%;
    height: 2.5%;
    width: 17%;
}
 
#GToneD3 {
    bottom: 33%;
    right: 0%;
    height: 2.5%;
    width: 17%;
}
 
#GToneD4 {
    bottom: 30.5%;
    right: 0%;
    height: 2.5%;
    width: 17%;
}
 
#GToneD5 {
    bottom: 28%;
    right: 0%;
    height: 2.5%;
    width: 17%;
}
 
#GToneD6 {
    bottom: 25.5%;
    right: 0%;
    height: 2.5%;
    width: 17%;
}
 
#GToneC1 {
    bottom: 38%;
    right: 17%;
    height: 2.5%;
    width: 22%;
}

#GToneC2 {
    bottom: 35.5%;
    right: 17%;
    height: 2.5%;
    width: 22%;
}
 
#GToneC3 {
    bottom: 33%;
    right: 17%;
    height: 2.5%;
    width: 22%;
}
 
#GToneC4 {
    bottom: 30.5%;
    right: 17%;
    height: 2.5%;
    width: 22%;
}
 
#GToneC5 {
    bottom: 28%;
    right: 17%;
    height: 2.5%;
    width: 22%;
}
 
#GToneC6 {
    bottom: 25.5%;
    right: 17%;
    height: 2.5%;
    width: 22%;
}

#GToneB1 {
    bottom: 38%;
    right: 39%;
    height: 2.5%;
    width: 22%;
}

#GToneB2 {
    bottom: 35.5%;
    right: 39%;
    height: 2.5%;
    width: 22%;
}
 
#GToneB3 {
    bottom: 33%;
    right: 39%;
    height: 2.5%;
    width: 22%;
}
 
#GToneB4 {
    bottom: 30.5%;
    right: 39%;
    height: 2.5%;
    width: 22%;
}
 
#GToneB5 {
    bottom: 28%;
    right: 39%;
    height: 2.5%;
    width: 22%;
}
 
#GToneB6 {
    bottom: 25.5%;
    right: 39%;
    height: 2.5%;
    width: 22%;
}

#GToneA1 {
    bottom: 38%;
    right: 61%;
    height: 2.5%;
    width: 22%;
}

#GToneA2 {
    bottom: 35.5%;
    right: 61%;
    height: 2.5%;
    width: 22%;
}
 
#GToneA3 {
    bottom: 33%;
    right: 61%;
    height: 2.5%;
    width: 22%;
}
 
#GToneA4 {
    bottom: 30.5%;
    right: 61%;
    height: 2.5%;
    width: 22%;
}
 
#GToneA5 {
    bottom: 28%;
    right: 61%;
    height: 2.5%;
    width: 22%;
}
 
#GToneA6 {
    bottom: 25.5%;
    right: 61%;
    height: 2.5%;
    width: 22%;
}

.string {
    background-color: rgb(145, 145, 145);
    position: absolute;
    width: 87%;
    height: 2px;
    left: 13%;
    transition: ease-out 0.5s;
}

#GString1 {
    bottom: 37.75%;
}
 
#GString2 {
    bottom: 35.25%;
}
 
#GString3 {
    bottom: 32.75%;
}
 
#GString4 {
    bottom: 30.25%;
}
 
#GString5 {
    bottom: 27.75%;
}
 
#GString6 {
    bottom: 25.25%;
}
 
