#HMToneA {
    bottom: 33.7%;
    left: 15%;
    height: 7.6%;
    width: 4.1%;
}
 
#HMToneB {
    bottom: 33.7%;
    left: 22.5%;
    height: 7.6%;
    width: 4%;
}
 
#HMToneC {
    bottom: 33.7%;
    left: 30%;
    height: 7.6%;
    width: 4%;
}
 
#HMToneD {
    bottom: 33.7%;
    left: 37.5%;
    height: 7.6%;
    width: 4%;
}
 
#HMToneE {
    bottom: 33.7%;
    left: 45.14%;
    height: 7.6%;
    width: 4%;
}
 
#HMToneF {
    bottom: 33.7%;
    right: 43.35%;
    height: 7.6%;
    width: 4%;
}
 
#HMToneG {
    bottom: 33.7%;
    right: 35.8%;
    height: 7.6%;
    width: 4%;
}
 
#HMToneH {
    bottom: 33.7%;
    right: 28.2%;
    height: 7.6%;
    width: 4%;
}
 
#HMToneI {
    bottom: 33.7%;
    right: 20.72%;
    height: 7.6%;
    width: 4%;
}
 
#HMToneJ {
    bottom: 33.7%;
    right: 13.2%;
    height: 7.6%;
    width: 4%;
}
 
.hatone:hover {
    background-color: rgba(236, 187, 26, 0.747);
}