#HToneA {
    left: 15%;
    bottom: 20%;
    height: 37.4%;
    width: 4%;
}

#HToneB {
    left: 21%;
    bottom: 17%;
    height: 40.4%;
    width: 4%;
}

#HToneC {
    left: 27.3%;
    bottom: 19%;
    height: 38.4%;
    width: 4%;
}

#HToneD {
    left: 33%;
    bottom: 17%;
    height: 40.4%;
    width: 4%;
}

#HToneE {
    left: 39%;
    bottom: 19%;
    height: 38.5%;
    width: 4%;
}

#HStringA {
    left: 17%;
    bottom: 20%;
    height: 37.4%;
    width: 2px;
}
 
#HStringB {
    left: 23%;
    bottom: 17%;
    height: 40.4%;
    width: 2px;
}
 
#HStringC {
    left: 29.3%;
    bottom: 19%;
    height: 38.4%;
    width: 2px;
}
 
#HStringD {
    left: 35%;
    bottom: 17%;
    height: 40.4%;
    width: 2px;
}
 
#HStringE {
    left: 41%;
    bottom: 19%;
    height: 38.5%;
    width: 2px;
}
 