#KToneA {
    left: 32.5%;
    top: 0%;
    width: 5.5%;
    height: 45%;
    /* background-color: rgba(200, 200, 255, 0.4); */
}

#KToneB {
    left: 40%;
    top: 0%;
    width: 5.5%;
    height: 51.5%;
    /* background-color: rgba(200, 200, 255, 0.4); */
}

#KToneC {
    left: 47.1%;
    top: 0%;
    width: 5.5%;
    height: 58.5%;
    /* background-color: rgba(200, 200, 255, 0.4); */
}

#KToneD {
    right: 39.6%;
    top: 0%;
    width: 5.5%;
    height: 51.5%;
    /* background-color: rgba(200, 200, 255, 0.4); */
}

#KToneE {
    right: 32.5%;
    top: 0%;
    width: 5.5%;
    height: 45%;
    /* background-color: rgba(200, 200, 255, 0.4); */
}