#PToneA {
    left: 0%;
    top: 0%;
    height: 72%;
    width: 6%;
}
 
#PToneB {
    left: 6%;
    top: 0%;
    height: 72%;
    width: 11.8%;
}
 
#PToneC {
    left: 17.8%;
    top: 0%;
    height: 72%;
    width: 11.8%;
}
 
#PToneD {
    left: 29.6%;
    top: 0%;
    height: 72%;
    width: 11.8%;
}
 
#PToneE {
    left: 41.4%;
    top: 0%;
    height: 72%;
    width: 11.8%;
}
 
#PToneF {
    left: 53.2%;
    top: 0%;
    height: 72%;
    width: 11.8%;
}
 
#PToneG {
    left: 65%;
    top: 0%;
    height: 72%;
    width: 11.8%;
}
 
#PToneH {
    left: 76.8%;
    top: 0%;
    height: 72%;
    width: 11.8%;
}
 
#PToneI {
    left: 88.6%;
    top: 0%;
    height: 72%;
    width: 11.8%;
}

#PToneA1 {
    left: 0.4%;
    top: 0%;
    height: 38%;
    width: 11.8%;
}
 
#PToneC1 {
    left: 24%;
    top: 0%;
    height: 38%;
    width: 11.8%;
}

#PToneD1 {
    left: 35.8%;
    top: 0%;
    height: 38%;
    width: 11.8%;
}
 
#PToneF1 {
    left: 59.4%;
    top: 0%;
    height: 38%;
    width: 11.8%;
}
 
#PToneG1 {
    left: 71.2%;
    top: 0%;
    height: 38%;
    width: 11.8%;
}
 
#PToneH1 {
    left: 83%;
    top: 0%;
    height: 38%;
    width: 11.8%;
}
 
.ptone:hover {
    background-color: rgba(150, 150, 150, 0.3)
}