body {
    background: #999;
    padding-top: 0;
    /* margin: 0; */
}

.container {
    /* margin: 0 auto; */
    align-items: center;
}

.main {
    position: absolute;
    display: block;
    height: 978px;
    width: 1256px;
    background-image: url("../assets/img/instrumentarium.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    /* margin-top: -489px;
    margin-left: -685px; */
    transform: translate(-50%, -50%) scale(0.9);
}

.instruments {
    /* border: 2px dashed yellowgreen; */
    position: absolute;
    cursor: pointer;
}

.noise {
    cursor: not-allowed;
}

.lights {
    /* border: 2px dashed yellowgreen; */
    position: absolute;
    cursor: pointer;
    height: 12%;
    width: 2%;
    bottom: 39.5%;
    left: 3.4%;
}

.close-window {
    position: absolute;
    right: 20px;
    top: 20px;
    background-image: url("../assets/img/close.png");
    background-size: cover;
    background-color: #b00;
    border-radius: 50%;
    border: white solid 4px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.close-window:hover {
    height: 40px;
    width: 40px;
    top: 15px;
    right: 15px;
    border: yellowgreen dashed 4px;
}

.music {
    position: absolute;
    left: 20px;
    top: 20px;
    background-image: url("../assets/img/music.png");
    background-size: contain;
    background-color: #69f;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: white solid 4px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.music:hover {
    left: 15px;
    top: 15px;
    border-radius: 25%;
    border: #a66 dashed 4px;
    height: 40px;
    width: 40px;
}

.tone {
    position: absolute;
    /* border: yellowgreen dashed 2px; */
    /* background-color: rgba(200, 255, 200, 0.6); */
    cursor: pointer;
}

.toneBandoneon {
    border-radius: 50%;
}

#popg {
    background-image: url("../assets/img/inst/guitar_pop-up.png");
    width: 1270px;
    height: 920px;
}

#popc {
    background-image: url("../assets/img/inst/carillon_pop-up.png");
    width: 1270px;
    height: 920px;
}

#popk {
    background-image: url("../assets/img/inst/kalimba_pop-up.png");
    width: 1270px;
    height: 920px;
}

#popa {
    background-image: url("../assets/img/inst/andpipe_pop-up.png");
    width: 1270px;
    height: 920px;
}

#popb {
    background-image: url("../assets/img/inst/bandoneon_pop-up.png");
    width: 1270px;
    height: 890px;
}

#popd {
    background-image: url("../assets/img/inst/drum_pop-up.png");
    width: 1270px;
    height: 920px;
}

#popf {
    background-image: url("../assets/img/inst/flute_pop-up.png");
    width: 1270px;
    height: 920px;
}

#pophm {
    background-image: url("../assets/img/inst/harmonica_pop-up.png");
    width: 1270px;
    height: 920px;
}

#poph {
    background-image: url("../assets/img/inst/harp_pop-up.png");
    width: 1270px;
    height: 920px;
}

#popp {
    background-image: url("../assets/img/inst/piano_pop-up.png");
    width: 1270px;
    height: 900px;
}

#popx {
    background-image: url("../assets/img/inst/xylo_pop-up.png");
    width: 1270px;
    height: 920px;
}

.popup {
    position: absolute;
    display: none;
    /* margin: 0 auto; */
    background-color: #999;
    background-size: cover;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

#guitar {
    bottom: 15.5%;
    right: 17%;
    width: 8.5%;
    height: 29%;
    transform: rotate(45deg);
}

#carillon {
    top: 27%;
    right: 55.5%;
    width: 8.5%;
    height: 9%;
    transform: rotate(16deg);
}

#kalimba {
    top: 34.5%;
    right: 23.8%;
    height: 4%;
    width: 6%;
}

#andpipe {
    right: 9%;
    bottom: 41%;
    width: 4.9%;
    height: 8%;
}

#bandoneon {
    bottom: 17%;
    left: 2%;
    width: 15%;
    height: 10%;
    transform: rotate(40deg);
}

#drums {
    top: 39%;
    left: 9%;
    width: 7.5%;
    height: 16%;
}

#flute {
    top: 29.5%;
    right: 27.5%;
    height: 2%;
    width: 11%;
    transform: rotate(-26deg);
}

#harmonica {
    left: 43.7%;
    bottom: 24%;
    width: 2%;
    height: 7%;
}

#harp {
    bottom: 21%;
    left: 33%;
    width: 10%;
    height: 14%;
}

#piano {
    display: none;
    bottom: 0%;
    left: 45%;
    width: 10%;
    height: 6%;
}

#xylophone {
    top: 34%;
    right: 30%;
    width: 7%;
    height: 5.5%;
    transform: rotate(-21deg);
}

#castanet_noise {
    left: 50%;
    bottom: 23%;
    width: 3%;
    height: 4%;
}

#grelot_noise {
    bottom: 13%;
    right: 5%;
    width: 3.5%;
    height: 5%;
}

#maracas_noise {
    bottom: 11%;
    left: 3.3%;
    width: 7%;
    height: 5.5%;
    transform: rotate(20deg);
}

#triangle_noise {
    left: 22%;
    top: 39%;
    width: 3%;
    height: 4%;
}

#red_bell_noise {
    left: 47%;
    bottom: 18%;
    width: 2.3%;
    height: 5%;
}

#blue_bell_noise {
    left: 50%;
    bottom: 18%;
    width: 2.3%;
    height: 5%;
}
 
#green_bell_noise {
    left: 53%;
    bottom: 18%;
    width: 2.3%;
    height: 5%;
}
 
#yellow_bell_noise {
    left: 56.1%;
    bottom: 18%;
    width: 2.3%;
    height: 5%;
}
 