#XTone1 {
    left: 75.5%;
    bottom: 20%;
    width: 7.7%;
    height: 33%;
}
 
#XTone2 {
    left: 65.1%;
    bottom: 17%;
    width: 7.7%;
    height: 38%;
}
 
#XTone3 {
    left: 54.55%;
    bottom: 14%;
    width: 7.7%;
    height: 44.5%;
}
 
#XTone4 {
    left: 44.2%;
    bottom: 11%;
    width: 7.7%;
    height: 50%;
}
 
#XTone5 {
    left: 33.8%;
    bottom: 9%;
    width: 7.7%;
    height: 55%;
}
 
#XTone6 {
    left: 23.3%;
    bottom: 6%;
    width: 7.7%;
    height: 61%;
}
 
#XTone7 {
    left: 13%;
    bottom: 4%;
    width: 7.7%;
    height: 65%;
}
 
#XTone8 {
    left: 2.373%;
    bottom: 1%;
    width: 7.7%;
    height: 70%;
}
 